<h1>Sign Up</h1>  
  
<%= form_for @user do |f| %>  
  <% if @user.errors.any? %>  
        <% for message in @user.errors.full_messages %>  
          <p><%= message %></p>  
        <% end %>
  <% end %>  
  <div class="field">  
    <%= f.label :name %>  
    <%= f.text_field :name %>  
  </div>  
  <div class="field">  
    <%= f.label :password %>  
    <%= f.password_field :password %>  
  </div>  
  <div class="field">  
    <%= f.label :password_confirmation %>  
    <%= f.password_field :password_confirmation %>  
  </div>  
  <div class="actions"><%= f.submit %></div>  
<% end %> 