<%= form_tag("/datagen/submit") do %>

<h3>Query Specification</h3>
	<h5>Query Volume</h5>
  <%= select_tag(:datasize, options_for_select(['Small','Medium ','Large']) ) %>
  <br><br>

  <h5>Query Variety</h5>
  <%= select_tag(:datasize, options_for_select(['Relational data only','Text data only','Mix of relational and text data','Mix of relational, text and graph data'])) %>
  <br><br>


  <h5>Query Velocity</h5>
  <%= select_tag(:datasize, options_for_select(['Exploratory','Continuous'])) %>

  <hr>

<h3>System Settings</h3>
<h5>Systems Under Test</h5>
  <%=label_tag :groupfield, 'Select one or more system(s) under test.' %>
  <%= check_box_tag :hadoop%> Hadoop <br>
  <%= check_box_tag :hive%> Hive  <br>
  <%= check_box_tag :spark%> Spark <br>
  <%= check_box_tag :shark %> Shark <br>
  <%= check_box_tag :storm %> Storm <br><br>

<h5>Global Parameters</h5>
  <%=label_tag :slide, '$HADOOP_HOME'%>
  <%= text_field_tag(:hadoop_home, @hadoop_home, :size => 50) %>
  <%=label_tag :range, '$SPARK_HOME'%>
  <%= text_field_tag(:spark_home, @tpchds_local) %>

<hr>
<h3>Query Outputs</h3>

  <%=label_tag :hadoop_output, 'The path to store output data'%>
  <%= text_field_tag(:hadoop_home, @hadoop_home, :size => 50) %>
<hr>

  <%= submit_tag("Run Query", :name => 'submit', :class=>"btn btn-large btn-primary" ) %>


<% end %>

Need to make system configuration based on the selection for the systems under test.

button to go to a config page for each engine?

options:
Micro/Macro
what other options?

textfield for output path

button to submit query

goes straight to visualization path for that job (or maybe just the list of running queries)